<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" verbose="8">
	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>

	<test thread-count="5" name="Test">
		<parameter name="os" value="windows" />
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="tests.TCC_001_LOGIN_01" />-->
			<class name="tests.TCC_001_Admin" />
		</classes>
	</test>
</suite>

<!--
TCC_001_Myinfo 
TCC_002_Myinfo
TCC_003_Myinfo
TCC_004_Myinfo
kn
AdminModule
TCC_001_Admin

-->